{% extends 'base.html.twig' %}

{% block title %}Hypnos - Inscription{% endblock %}

{% block content %}
<h1 class="center">Inscription :</h1>
    <br>
    <p class="center">Inscrivez Vous pour réserver votre chambre et recevoir nos dérnieres Info </p>
    <br>
    <div class="container">
        <div class="center">
        {{ form (form)}}
    </div>
    </div>
{% endblock %}
